{% extends 'layout.html' %}

{% block head %}
<link href="{{ url_for('static', filename='fontawesome-free-5.9.0-web/css/all.css') }}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/css/all.min.css') }}">

<style type="text/css">
	.w-35 {
		width: 35%;
	}
</style>
{% endblock %}

{% block navbar_left %}
{% endblock %}

{% block body %}
	<form action="{{ url_for('addAttribute') }}" id="attr-form" method="POST" enctype="multipart/form-data">
		<div class="container w-50">
			<center><h1>Add a Attribute</h1></center>
			<div class="form-group">
				<label><h3>Attribute Name</h3></label>
				<input type="text" class="form-control" name="attr_name" />
			</div>
			<div class="form-group">
				<table class="table table-hover" id="inputs">
					<col >

					<thead>
						<th colspan="3" class="text-center">Input Values</th>
					</thead>
					<tbody>
						
					</tbody>
				</table>
				<div class="form-group border">
					<center>
						<b>Value:</b> <input type="text" class="form-control w-25 mr-2" id="input-name" placeholder="Value Name" /><br>
						<b>Price Increase/Decrease:</b><input type="number" step="0.01" max="99999999999" name="price" class="form-control w-35 ml-2" placeholder="Price Increase/Decrease" value="0.00" id="input-price" /><br>
						<button class="btn btn-primary w-50 mt-2" id="input-adder"><i class="fas fa-plus"></i> Add Value</button>
					</center>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		$("#input-adder").on("click", function(e) {
			e.preventDefault()
			if ($("#input-name").val() != "") {
				$("#inputs tbody").append("<tr><td class='text-center'>" + $("#input-name").val() + "</td><td class='text-center'>$" + $("#input-price").val() + "</td></tr>")
				$("#input-name").val("")
				$("#input-price").val("0.00")
			}


		})

		$("#attr-form").submit(function() {
			var data = {};
			var lastTitle = "";
			$(this).find('#inputs > tbody tr').each(function (rowIndex, r) {
				$(this).find('td').each(function (colIndex, c) {
					if (colIndex == 0) {
						lastTitle = c.textContent.trim()
						data[c.textContent.trim()] = ""
						return
					}
					data[lastTitle] = c.textContent.trim();
				});
			});

			$("<input />").attr("type", "hidden").attr("value", JSON.stringify(data)).attr("name","attr_values").appendTo("#attr-form")

			return true;
		})
		
	</script>
{% endblock %}